<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Sort By Sentiment</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Sort from positive to negative</a>
          <div class="collapse navbar-collapse" id="navbarToggle">
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
              {% if tweets %}
                {% for tweet in tweets %}
                  <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ tweet.img_source }}">
                    <div class="media-body">
                      <div class="article-metadata">
                        <a class="mr-2" href="#">{{ tweet.username }}</a>
                        <small class="text-muted">{{ tweet.posted_date }}</small>
                      </div>
                      <p class="article-content">{{ tweet.tweet_text }}<br><small>The tweet is positive with probability: {{(tweet.sentiment*100)|round(2)}} %
                      </small>
                    </div>
                  </article>
                {% endfor %}
              {% endif %}
            {% endblock %} 
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Search for tweets</legend>
                  <div class="form-group">
                    {{ form.searchword.label(class="form-control-label") }}
                    
                    {% if form.searchword.errors %}
                      {{ form.searchword(class="form-control form-control-lg is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.searchword.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.searchword(class="form-control form-control-lg") }}
                    {% endif %}         
                  </div>
                  <div class="form-group">
                    {{ form.number_of_results.label(class="form-control-label") }}
                    {% if form.number_of_results.errors %}
                      {{ form.number_of_results(class="form-control form-control-lg is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.number_of_results.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.number_of_results(class="form-control form-control-lg") }}
                    {% endif %}
                    <br><small>You can query 1500 tweets per 15 min.</small><br>
                    <small>Max 500 at one query.</small>
                  </div>
                </fieldset>
                <div class="form-group">
                  {{ form.search(class="btn btn-outline-info") }}
                </div>
              </form>
            </div>
            {% if tweets %}
              <div class="content-section">
                  <img src= "{{cloud_img_path}}" alt="word cloud" class="img-fluid">
              </div>
            {% endif %}
          </div>
        </div>
        {% if tweets %}
        <div class="row">
          <div class="col-md-8">
            <div class="content-section">
                <embed type="image/svg+xml" src={{ graph_data|safe }} style='max-width:1000px'/>      
            </div>
          </div>
        </div>
        {% endif %}
      </main>

   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>